<script type="text/JavaScript" src="index.js"></script>
<table name="Employees_table" id="employees" class="tablesorter" >
  <thead>
  <tr>
    <th id="FirstNameHeader">First_name</th>
    <th id="SurnameHeader">Surname</th>
    <th id="DateOfBirthHeader">Date of Birth</th>
    <th id="SalaryHeader">Salary</th>
  </tr>
  </thead>
  <tbody>
  <% Employee.all.each do |employee| %>
      <tr data-empid ="<%= employee.id %>">
        <td><%= employee.first_name %></td>
        <td><%= employee.surname %></td>
        <td><%= employee.date_of_birth%></td>
        <td><%= employee.salary %></td>
      </tr>
  <% end %>
  </tbody>
</table>