<script type="text/javascript" src="index.js"></script>
<div>

  <div id="opaco" class="hidden"></div>
  <div id="popup" class="hidden"></div>

  <div id="elemets">
    <div name="checkbox">
      <input type=checkbox name="Use_Ajax"/> Use Ajax
    </div>
    <div id="employees_table">
        <%= render 'employees/table' %>
    </div>

    <button name ="Add_Button" id="AddButton"> Add </button>
    <button name ="Edit_Button" id="EditButton"> Edit </button>
    <button name = "Remove_Button" id="RemoveButton"> Remove </button>

  </div>
  <div id="popup_add" class="hidden">
    <div class="add" class="hidden">
      <h3>Add Employee</h3>
      <%= form_for Employee.new, :remote => true  do |f| %>
          <div class="field">
            <%= f.text_field :first_name %>
            <%= f.text_field :surname %>
            <%= f.text_field :date_of_birth %>
            <%= f.text_field :salary  %>
          </div>
          <div class="actions">
            <%= f.submit "Submit" %>
          </div>
      <% end %>
      <input type="button" value="Send" onclick="closePopup(); return false;" />
      <input type="button" value="Cancel" onclick="closePopup(); return false;" />
    </div>
  </div>
</div>